

<link rel="stylesheet" href="css/pages/login.css">
<link rel="stylesheet" href="css/common/header.css">

<!-- Navbar -->

<div class="navbar">

<h2>Missing Person AI</h2>

<div class="nav-links">
<a href="/">Home</a>
<a href="/login">Login</a>
<a href="/signup">Signup</a>
</div>

</div>

<!-- Login Section -->

<div class="login-container">

<div class="login-box">

<h2>User Login</h2>

<form id="loginForm" action="/login" method="POST">

<input type="email" name="email" id="email" placeholder="Enter Email" required>

<input type="password" name="password" id="password" placeholder="Enter Password" required>

<button type="submit">Login</button>

</form>

<a href="/signup">Create new account</a>

</div>

</div>
